<%- include("../includes/header") -%>

<div id="content-wrapper">

<div class="container-fluid">

    <!-- DataTables Example -->
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-barcode"></i>
        Cadastro de produtos
    </div>
    <div class="card-body">
           
        <form action="../salvar/<%=dados[0].idProduto%>"#" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCategoria">Categoria::</label>
                    <select class="custom-select" name="idCategoria" id="idCategoria">
                        <option value="1">Outros</option>
                        <option value="2">Tal</option>
                        <option value="2">Tal</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="codigo">Codigo:</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ex.. 00000-0000" value="<%=dados[0].codigo%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="marca">Marca:</label>
                    <input type="text" class="form-control" id="marca" name="marca" value="<%=dados[0].marca%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="<%=dados[0].nome%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao" value="<%=dados[0].descricao%>"></textarea>
                </div>

                <div class="form-group col-md-6">
                    <label for="validade">Validade:</label>
                    <input type="date" class="form-control" id="validade" name="validade" value="<%=dados[0].validade%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="lote">Lote:</label>
                    <input type="text" class="form-control" id="lote" name="lote" value="<%=dados[0].lote%>"> 
                </div>

                <div class="form-group col-md-6">
                    <label for="statusProduto">Status do produto:</label>
                    <input type="text" class="form-control" id="statusProduto" name="statusProduto" value="<%=dados[0].statusProduto%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="valor">Valor do produto:</label>
                    <input type="text" class="form-control" id="valor" name="valor" value="<%=dados[0].valor%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="idFornecedor">Fornecedor do produto:</label>
                    <select class="custom-select" name="idFornecedor" id="idFornecedor">
                        <option value="1">Outros</option>
                        <option value="2">Tal</option>
                        <option value="2">Tal</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Atualizar</button>
                </div>
            </div>
        </form>
    </div>


</div>


<%- include("../includes/footer") -%>