
<%- include("../includes/header") -%>

<div id="content-wrapper">

<div class="container-fluid">

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-stethoscope"></i>
            Agendar consulta
        </div>
        <div class="card-body">

            <% if(validacao.length > 0){%>
                <div class="alert alert-danger">
                    <strong>Atenção!</strong>
                    <ul>
                        <% for(var i = 0; i < validacao.length; i++){%>
        
                        <li><%= validacao[i].msg %></li>
        
                        <% } %>
                    </ul>
                </div>
            <% } %>
        
            <form class="row-12" action="/consulta/agendar/" method="post">
                <div class="form-group col">
                    <label for="dataConsulta">Data da consulta:</label>
                    <input type="date" class="form-control" id="dataConsulta" name="dataConsulta">
                </div>

                <div class="form-group col">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao"></textarea>
                </div>

                <div class="form-group col">
                    <label for="idNutricionista">Nutricionista:</label>
                    <select class="custom-select" name="idNutricionista" id="idNutricionista">
                    <% for(var i = 0; i < dadosNutricionista.length; i++) { %>
                        <option value="<%= dadosNutricionista[i].idNutricionista %>"><%= dadosNutricionista[i].nome %></option>
                    <% } %>
                    </select>
                </div>
                
                <div class="form-group col">
                    <label for="idCliente">Cliente:</label>
                    <select class="custom-select" name="idCliente" id="idCliente">
                    <% for(var i = 0; i < dadosCliente.length; i++) { %>
                        <option value="<%= dadosCliente[i].idCliente %>"><%= dadosCliente[i].nome %></option>
                    <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Cadastrar</button>
                </div>
        
            </div>
        </form>
    </div>


</div>

<%- include("../includes/footer") -%>