<%- include("../includes/header") -%>

<div id="content-wrapper">

    <div class="container-fluid">

        <div class="card mb-3">
        <div class="card-header">
        <i class="fas fa-barcode"></i>
        Informações do usuário</div>
        <div class="card-body">
            <div class="row-12">
                <div class="col-md-6">
                    <span>ID Produto:</span>
                    <span><%=dados[0].idProduto%></span>                  
                </div>
                <div class="col-md-6">
                    <span>Id Categoria:</span>
                    <span><%=dados[0].idCategoria%></span>                 
                </div> 
                <div class="col-md-6">
                    <span>Código:</span>
                    <span><%=dados[0].codigo%></span>               
                </div>    
                <div class="col-md-6">
                    <span>Marca:</span>
                    <span><%=dados[0].marca%></span>                 
                </div>
                <div class="col-md-6">
                    <span>Nome:</span>
                    <span><%=dados[0].nome%></span>               
                </div>
                <div class="col-md-6">
                    <span>Descrição:</span>
                    <span><%=dados[0].descricao%></span> 
                </div>
                <div class="col-md-6">            
                    <span>Validade:</span>
                    <span><%=dados[0].validade.toLocaleDateString("pt-br")%></span>
                </div>
                <div class="col-md-6">            
                    <span>Lote:</span>
                    <span><%=dados[0].lote%></span>
                </div>
                <div class="col-md-6">            
                    <span>Status do Produto:</span>
                    <span><%=dados[0].statusProduto%></span>
                </div>
                <div class="col-md-6">            
                    <span>Valor:</span>
                    <span><%=dados[0].valor%></span>
                </div>
                <div class="col-md-6">            
                    <span>ID Fornecedor:</span>
                    <span><%=dados[0].idFornecedor%></span>
                </div>
            </div>
        </div>           
        <!-- DataTables Example -->
    </div>


</div>

<%- include("../includes/footer") -%>