<%- include("../includes/header") -%>

<div id="content-wrapper">

    <div class="container-fluid">
    
        <!-- DataTables Example -->
        <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i class="fas fa-building"></i>
                    Fornecedores Cadastrados
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="/consulta/agendar/"><button type="button" class="btn btn-success float-right" id="novoUsuario">Nova consulta</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <!--Conteudo serão inseridos aqui-->
            <div class="container">

                    <div class="table-responsive text-center">
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Data Consulta</th>
                                <th>Descrição</th>
                                <th>Nutricionista</th>
                                <th>Cliente</th>
                                <th>Prontuário</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Data Consulta</th>
                                <th>Descrição</th>
                                <th>Nutricionista</th>
                                <th>Cliente</th>
                                <th>Prontuário</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <% for(var i = 0; i < dados.length; i++){ %>
                            <tr>
                                <td><%= dados[i].idConsulta %></td>
                                <td><%= dados[i].dataConsulta.toLocaleDateString("pt-br") %></td>
                                <td><%= dados[i].descricao %></td>
                                <td><%= dados[i].idNutricionista %></td>
                                <td><%= dados[i].idCliente %></td>
                                <td>
                                    <table>
                                    <tr>
                                        <!--
                                        <td>
                                            <a href=#"><button type="button" class="btn btn-outline-danger fas fa-trash-alt"></button></a>
                                        </td>
                                        <td>
                                            <a href=#"><button type="button" class="btn btn-outline-info fas fa-edit"></button></a>
                                        </td>
                                        -->
                                        <td>
                                            <a href="/consulta/listar/<%= dados[i].idConsulta %>" ><button type="button" class="btn btn-outline-danger fas fa-calendar"></button></a>
                                        </td>
                                    </table>
                                    </tr>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>               
        </div>
                
    
    </div>
    
</div>

<%- include("../includes/footer") -%>