<%- include("../includes/header") -%>

<div id="content-wrapper">

<div class="container-fluid">

    <!-- DataTables Example -->
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-barcode"></i>
        Cadastro de produtos
    </div>
    <div class="card-body">
            <% if(validacao.length > 0){%>
                <div class="alert alert-danger">
                    <strong>Atenção!</strong>
                    <ul>
                        <% for(var i = 0; i < validacao.length; i++){%>
        
                        <li><%= validacao[i].msg %></li>
        
                        <% } %>
                    </ul>
                </div>
            <% } %>
        <form action="/produto" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCategoria">categoria</label>
                    <select class="custom-select" name="idCategoria" id="idCategoria">
                    <% for(var i = 0; i < dadosCategoria.length; i++) { %>
                        <option value="<%= dadosCategoria[i].idCategoria %>"><%= dadosCategoria[i].categoria %></option>
                    <% } %>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="codigo">Codigo:</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ex.. 00000-0000" value="<%=dados.codigo%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="marca">Marca:</label>
                    <input type="text" class="form-control" id="marca" name="marca" value="<%=dados.marca%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="<%=dados.nome%>">
                </div>
                
                <div class="form-group col-md-6">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao"><%=dados.descricao%></textarea>
                </div>

                <div class="form-group col-md-6">
                    <label for="validade">Validade:</label>
                    <input type="date" class="form-control" id="validade" name="validade" value="<%=dados.validade%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="lote">Lote:</label>
                    <input type="text" class="form-control" id="lote" name="lote" value="<%=dados.lote%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="statusProduto">Status do produto:</label>
                    <input type="text" class="form-control" id="statusProduto" name="statusProduto" value="<%=dados.statusProduto%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="valor">Valor do produto:</label>
                    <input type="text" class="form-control" id="valor" name="valor" value="<%=dados.valor%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="valor">Quantidade:</label>
                    <input type="number" class="form-control" id="qtdeEstoque" name="qtdeEstoque" value="<%=dados.qtdeEstoque%>">
                </div>
    
                <div class="form-group col-md-12">
                    <label for="idFornecedor">ID Fornecedor:</label>
                    <select class="custom-select" name="idFornecedor" id="idFornecedor">
                    <% for(var i = 0; i < dadosFornecedor.length; i++) { %>
                        <option value="<%= dadosFornecedor[i].idFornecedor %>"><%= dadosFornecedor[i].idFornecedor %></option>
                    <% } %>
                    </select>
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>


</div>

<!--
    <div class="row">
        <div class="col-md-12">
            <form action="/noticias/salvar" method="post">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" class="form-control" id="login" name="login">
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="senha" class="form-control" id="senha" name="senha">
                </div>
                <div class="form-group">
                    <label for="confirmarSenha">Confirmar Senha:</label>
                    <input type="confirmarSenha" class="form-control" id="confirmarSenha" name="confirmarSenha">
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="autor" name="autor">
                </div>

                <div class="form-group">
                    <label for="pwd">Data:</label>
                    <input type="date" class="form-control" id="data_noticia" name="data_noticia">
                </div>

                <div class="form-group">
                    <label for="pwd">Notícia:</label>
                    <textarea class="form-control" id="noticia" name="noticia"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Cadastrar</button>
                </div>

            </form>
        </div>
    </div>

    -->

<%- include("../includes/footer") -%>