<%- include("../includes/header") -%>

<div id="content-wrapper">

  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="card mb-3">
      <div class="card-header">
        <i></i>
        Início</div>
    </div>
    

    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-users"></i>
            </div>
            <div class="mr-5">Colaboradores!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/colaboradores">
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-list"></i>
            </div>
            <div class="mr-5">Verificar Produtos</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/produtos">
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">Vender!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/pedido">
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-life-ring"></i>
            </div>
            <div class="mr-5">Fornecedores/Clientes!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/fornecedores">
            <span class="float-left">Ver detalhes</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Produtos próximos ao vencimento</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Válidade</th>
                <th>Lote</th>
                <th>Dias para vencimento</th>
              </tr>
            </thead>
            <tfoot>
                <th>ID</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Válidade</th>
                <th>Lote</th>
                <th>Dias para vencimento</th>
            </tfoot>
            <%if(dados.length > 0) {%>
              <% for(let i = 0; i < dados.length; i++){ %>
                <tr>
                  <td><%=dados[i].idProduto%></td>
                  <td><%=dados[i].codigo %></td>
                  <td><%=dados[i].nome%></td>
                  <td><%=dados[i].marca %></td>
                  <td><%=dados[i].validade.toLocaleDateString("pt-br") %></td>
                  <td><%=dados[i].lote %></td>
                  <td><%=dados[i].dias_para_vencimento%></td>
                </tr>
              <% } %>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Krypton Suplementos - São Paulo</span>
        </div>
      </div>
    </footer>
</div>

</div>

  <!-- /.container-fluid -->

<%- include("../includes/footer") -%>

  <script src="/socket.io/socket.io.js"></script>
  <script>

    function refreshDashboard(){
      fetch('/inicio').then(response => response.json()).then(json=>{

      })
    }

    let socket = io();

    socket.on('produto vencimento', function(data){
      console.log('Recebi o evento', data)
    })

  </script>