<%- include("../includes/header") -%>

<div id="content-wrapper">

    <div class="container-fluid">
    
        <!-- DataTables Example -->
        <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i class="fas fa-building"></i>
                    Fornecedores Cadastrados
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="/fornecedor/cadastrar"><button type="button" class="btn btn-success float-right" id="novoUsuario">Cadastrar novo fornecedor</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <!--Conteudo serão inseridos aqui-->
            <div class="container">

                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>CNPJ</th>
                                <th>Email</th>
                                <th>Endereço</th>
                                <th>Telefone</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>CNPJ</th>
                                <th>Email</th>
                                <th>Endereço</th>
                                <th>Telefone</th>
                                <th>Ações</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <% for(var i = 0; i < dados.length; i++){ %>
                            <tr>
                                <td><%= dados[i].idFornecedor %></td>
                                <td><%= dados[i].cnpj %></td>
                                <td><%= dados[i].email %></td>
                                <td><%= dados[i].endereco %></td>
                                <td><%= dados[i].telefone %></td>
                                <td>
                                    <table>
                                    <tr>
                                        <td>
                                            <a href="../fornecedor/excluir/<%=dados[i].idFornecedor%>"><button type="button" class="btn btn-outline-danger fas fa-trash-alt"></button></a>
                                        </td>
                                        <td>
                                            <a href="../fornecedor/editar/<%=dados[i].idFornecedor%>"><button type="button" class="btn btn-outline-info fas fa-edit"></button></a>
                                        </td>
                                        <td>
                                            <a href="../fornecedor/detalhes/<%=dados[i].idFornecedor%>"><button type="button" class="btn btn-outline-warning fas fa-calendar"></button></a>
                                        </td>
                                    </table>
                                    </tr>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>               
        </div>
                
    
    </div>
    
</div>

<%- include("../includes/footer") -%>