<%- include("../includes/header") -%>

<div id="content-wrapper">

        <div class="container-fluid">
        
            <!-- DataTables Example -->
            <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-user"></i>
                        Colaboradores cadastrados
                    </div>
                    <div class="col-md-6">
                        <div>
                            <a href="/colaboradores/cadastrar"><button type="button" class="btn btn-success float-right" id="novocolaborador">Cadastrar novo colaborador</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
               
                <!--Conteudo serão inseridos aqui-->
                <div class="container">

                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Tipo colaborador</th>
                            <th>Ações</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Tipo colaborador</th>
                            <th>Ações</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% for(var i = 0; i < dados.length; i++){ %>
                        <tr>
                            <td><%= dados[i].idColaborador %></td>
                            <td><%= dados[i].login %></td>
                            <td><%= dados[i].email %></td>
                            <td><%= dados[i].nome %></td>
                            <td><%= dados[i].sobrenome %></td>
                            <td><%= dados[i].tipo %></td>
                            <td>
                              <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger fas fa-trash-alt" data-toggle="modal" data-target="#modalDelete"></button>
                                    </td>
                                    <td>
                                      <a href="../colaboradores/editar/<%=dados[i].idColaborador%>"><button type="button" class="btn btn-outline-info fas fa-edit"></button></a>
                                    </td>
                                    <td>
                                      <a href="../colaboradores/detalhes/<%=dados[i].idColaborador%>"><button type="button" class="btn btn-outline-warning fas fa-calendar"></button></a>
                                    </td>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>               
            </div>
                  
        <!--Modal excluir colaborador-->

        <div class="modal" tabindex="-1" role="dialog"  id="excluircolaborador" tabindex="-1" role="dialog" aria-labelledby="excluircolaborador" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Excluir colaborador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Deseja realmente excluir este colaborador!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" id="btn_excluircolaborador">Excluir</button>
              </div>
            </div>
          </div>
        

        <!--fecha modal-->
       
        </div>

        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDelete">Excluir colaborador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                        <div class="modal-body">Deseja realmente excluir este colaborador!</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
                        <a href="../colaboradores/excluir/<%=dados[0].idColaborador%>"><button type="button" class="btn btn-danger">Excluir</button></a>
                    </div>
                </div>
            </div>
      </div>
        
</div>

<%- include("../includes/footer") -%>