<%- include("../includes/header") -%>

<div id="content-wrapper">

    <div class="container-fluid">

                <div class="card mb-3">
                <div class="card-header">
                <i class="fas fa-user"></i>
                Informações do cliente</div>
        
                <div class="card-body">
                    <div class="row-12">
                        <div class="col-md-6">
                            <span>ID Cliente:</span>
                            <span><%=dados[0].idCliente%></span>                  
                        </div>
                        <div class="col-md-6">
                            <span>Login:</span>
                            <span><%=dados[0].login%></span>                 
                        </div>     
                        <div class="col-md-6">
                            <span>Email:</span>
                            <span><%=dados[0].email%></span>                 
                        </div>
                        <div class="col-md-6">
                            <span>Nome:</span>
                            <span><%=dados[0].nome%></span>               
                        </div>
                        <div class="col-md-6">
                            <span>sobrenome:</span>
                            <span><%=dados[0].sobrenome%></span>               
                        </div>
                        <div class="col-md-6">
                            <span>Telefone:</span>
                            <span><%=dados[0].telefone%></span> 
                        </div>
                        <div class="col-md-6">
                            <span>Tipo:</span>
                            <span><%=dados[0].idTipo%></span> 
                        </div>
                    </div>
                </div>
           

        <!-- DataTables Example -->
    </div>


</div>

<%- include("../includes/footer") -%>